name: Deploy to HostGator

on:
  push:
    branches: [ production ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Deploy via SFTP
        uses: easingthemes/ssh-deploy@v4.1.8
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: "bytebox.pe"
          REMOTE_USER: "ylxfwfte"
          SOURCE: "public/"
          TARGET: "/test.bytebox.pe/public/"